@import "helpers/variables.scss";
@-webkit-keyframes move {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),0 0 0 20px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.05),0 0 0 40px rgba(255, 255, 255, 0.05);
  }
}
@-moz-keyframes move {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),0 0 0 20px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.05),0 0 0 40px rgba(255, 255, 255, 0.05);
  }
}