/***Navigation Layout****/

@import "layout/navigation.scss";
@import "layout/navbar.scss";

/***Header Layout****/

@import "layout/header-slider.scss";

/*Home Page*/

@import "page/homepage.scss";


/*Single Pages*/

/***Footer Layout****/

@import "layout/footer.scss";
