@import "helpers/variables.scss";


/**Slider Img Size */

.header_slider {
    .header {
        height: 120vh;
        @media (max-width: $lg) {
            height: 100vh;
            border-radius: 0;
        }
        border-radius:0 0 85% 85% /30%;
        overflow: hidden;
        position: relative;

        &:before {
            width: 100%;
            height: 100%;
            @extend %overlay;
            background: $overlay;
            overflow: hidden;
            width: 100%;
            z-index: 1;
        }
        aside {
            text-align: center;
            position: relative;
            z-index: 9;
            color: #fff;
            top: 50%;
            transform: translatey(-50%);

            h1 {
                font-size: 34px;
                @media (max-width: $lg) {
                    font-size: 20px;
                }
                line-height: 50px;
            }
        }

    }
}
