$mainColor:#044E80;
$secondColor:#07A7E3;
$borderRadius:10px;
$boxShadow:0 3px 6px #124462;
$overlay:rgba(4, 78, 128, 0.45);
$lineHeight:26px;

/*Media Query*/

$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;

/*Box Shadow*/

/***Container Widt***/

.container {
    @media (min-width: $lg) {
        max-width: 1170px;
    }
}

/*Glopal Style*/

img {

    max-width: 100%;
    height: auto;
}



[data-src] {
    -webkit-background-size: cover;
    background-size: cover;
}

/********Glopal Class******/

.home_page-title {
    color: #333333;
    font-size: 26px;
    margin-bottom: 25px;
}

.paragraph_global {
    color: #333333;
    font-size: 16px;
    line-height: 34px;
}

.home_page-section {
    padding: 50px 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

%transition {
    transition: all ease-in-out 0.3s;
}

%overlay {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


%pseudo {
    position: absolute;
    display: block;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;

}



/*Start Glopal Form*/

.glopal_form {
    background: #fff;
    box-shadow: 0 0 10px rgba(18, 68, 98, 0.42);
    border-radius: 10px;
    padding: 30px 15px;
    @media (max-width: $sm) {
        margin-top: 30px;
    }
    select {
        width: 100%;
        color: $mainColor;
        cursor: pointer;
    }

    label {
        display: block;
        font-size: 12px;
    }
    input:focus,
    textarea:focus,
    select:focus {
        outline: none !important;
        border-color: $secondColor;
    }
    input,
    textarea,
    select {
        border: none;
        border: 1px solid rgba(18, 68, 98, 0.23);
        width: 100%;
        border-radius: $borderRadius;
        padding: 4px 10px;
        margin-bottom: 20px;
    }
    textarea {
        height: 120px;
    }
    .button-blue {
        border: none;
        cursor: pointer;
    }

    /*End Glopal Form*/
}

/*****Font******/

/****Start Font Face*******/

//@font-face {
//    font-family: 'Kufi';
//    font-style: normal;
//    font-weight: 400;
//    src: url(../../../font/NotoKufiArabic-Regular.otf) format('otf'), url(../font/NotoKufiArabic-Regular.ttf) format('ttf'),
//}
//
//@font-face {
//    font-family: 'Montserrat';
//    font-style: normal;
//    font-weight: 500;
//    src: url(../font/NotoKufiArabic-Regular.otf) format('otf'), url(../font/NotoKufiArabic-Regular.ttf) format('ttf'),
//}
//
//@font-face {
//    font-family: 'Montserrat';
//    font-style: normal;
//    font-weight: 600;
//    src: url(../font/NotoKufiArabic-Bold.otf) format('otf'), url(../font/NotoKufiArabic-Bold.ttf) format('ttf'),
//}
//
//@font-face {
//    font-family: 'Montserrat';
//    font-style: normal;
//    font-weight: bold;
//    src: url(../font/NotoKufiArabic-Bold.otf) format('otf'), url(../NotoKufiArabic-Bold.ttf) format('ttf'),
//}
/**** End Font Face*******/

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
input,
label,
textarea,
select,
th,
td {
    font-family: 'Montserrat', sans-serif;
}
