@import "helpers/variables.scss";
/*Glopal Stye For All Single Page*/

.single_page {
    padding: 40px 0;
}

.home_title-orang h3 {
    color: $secondColor;
    font-size: 22px;
}

.page_list-color {


    li {
        line-height: 24px;
        color: $mainColor;
        font-size: 14px;
        position: relative;
        margin-left: 20px;
        &:before {
            position: absolute;
            display: block;
            content: "";
            height: 8px;
            width: 8px;
            border-radius: 100%;
            background-color: $secondColor;
            top: 10px;
            left: -20px;

        }
    }
}
