$mainColor: #044D7F;
$secondColor: #0095D9;
$grayColor:#DDD;
$borderRadius: 10px;
$boxShadow: 0 3px 6px #124462;
$overlay: rgba(7, 167, 226, 0.5);
$pColor: #f00;
$redColor: #f00;
$darkColor: #000; // Social Variable color
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #00a0dc;
$google: #ea4335;
$istagram: #e1306c;
$whats: #25d366;
$lineHeight: 26px; /*Media Query*/
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px; /*Box Shadow*/
/***Container Widt***/
.select_content-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  .select_your-tupe {
    width: 100%;

    aside {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .select_type-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin-bottom: 30px;

        span {
          display: block;
        }
      }
    }
  }

  .slect_Your-twon {
    width: 100%;
  }
}
.container {
  @media (min-width: $lg) {
    max-width: 1170px;
  }
}
/*Glopal Style*/

img {
  max-width: 100%;
  height: auto;
}

[data-src] {
  -webkit-background-size: cover;
  background-size: cover;
}
/********Glopal Class******/

.home_page-title {
  color: #333333;
  font-size: 26px;
  margin-bottom: 25px;
}

.paragraph_global {
  color: #333333;
  font-size: 16px;
  line-height: 34px;
}

.home_page-section {
  padding: 50px 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list_inline {
  padding-left: 0;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

a,
a:hover {
  text-decoration: none;
}

%transition {
  transition: all ease-in-out 0.3s;
}

%overlay {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

%pseudo {
  position: absolute;
  display: block;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
}
/*Start Glopal Form*/

.glopal_form {
  background: #fff;
  padding: 30px 15px;
  @media (max-width: $sm) {
    margin-top: 30px;
  }

  select {
    width: 100%;
    color: $mainColor;
    cursor: pointer;
  }

  label {
    display: block;
    font-size: 12px;
  }

  input:focus,
  select:focus,
  textarea:focus {
    outline: none !important;
    border-color: $secondColor;
  }

  input,
  select,
  textarea {
    border: none;
    border: 1px solid rgba(18, 68, 98, 0.23);
    width: 100%;
    border-radius: $borderRadius;
    padding: 8px 0;
    text-indent: 8px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .custum_upload-button {
    position: relative;
    // span {
    //   top: 0;
    //   bottom: 0;
    //   width: 100px;
    //   position: absolute;
    //   z-index: 9999;
    //   height: 100%;
    //   background-color: #f00;
    //   display: block;
    // // }
  }

  .row {
    div:last-child {
      margin: 0;
    }
  }

  textarea {
    height: 120px;
  }

  .button-blue {
    border: none;
    cursor: pointer;
  }
  /*End Glopal Form*/
}
// Start Single Page style

.single_page-content {
  padding: 50px 0;
}
/*Start Custume Select Button*/
.custum_select {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;

  &:before {
    display: block;
    position: absolute;
    content: "\f0dd";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 22px;
    top: 2px;
    z-index: 1;
    color: #40446A;
    right: 20px;
    left: auto;
    /*Change*/
  }

  select {
    height: 40px;
    width: 100%;
    padding: 0 14px;
    z-index: 3;
    position: relative;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
}
/*End Custume Select Button*/
/*****Font******/
/****Start Font Face*******/
//@font-face {
//    font-family: 'Kufi';
//    font-style: normal;
//    font-weight: 400;
//    src: url(../../../font/NotoKufiArabic-Regular.otf) format('otf'), url(../font/NotoKufiArabic-Regular.ttf) format('ttf'),
//}
//
//@font-face {
//    font-family: 'Montserrat';
//    font-style: normal;
//    font-weight: 500;
//    src: url(../font/NotoKufiArabic-Regular.otf) format('otf'), url(../font/NotoKufiArabic-Regular.ttf) format('ttf'),
//}
//
//@font-face {
//    font-family: 'Montserrat';
//    font-style: normal;
//    font-weight: 600;
//    src: url(../font/NotoKufiArabic-Bold.otf) format('otf'), url(../font/NotoKufiArabic-Bold.ttf) format('ttf'),
//}
//
//@font-face {
//    font-family: 'Montserrat';
//    font-style: normal;
//    font-weight: bold;
//    src: url(../font/NotoKufiArabic-Bold.otf) format('otf'), url(../NotoKufiArabic-Bold.ttf) format('ttf'),
//}
/**** End Font Face*******/

.checkbox_button-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  span {
    text-indent: 5px;
  }

  input {
    margin: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}
/*Start Custum Upload Button*/
/*Start Custum Upload Button*/

a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
li,
p,
select,
span,
td,
textarea,
th {
  font-family: 'Montserrat', sans-serif;
}