@import "helpers/variables.scss";
@-webkit-keyframes move {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),0 0 0 20px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.05),0 0 0 40px rgba(255, 255, 255, 0.05);
  }
}
@-moz-keyframes move {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),0 0 0 20px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.05),0 0 0 40px rgba(255, 255, 255, 0.05);
  }
}
/**********/
/*Start Down Button*/
@-moz-keyframes down {
  0% {
    bottom: 20px;
    bottom: 30px;
  }

  50% {
    bottom: 25px;
  }

  100% {
    bottom: 30px;
  }
}
@-webkit-keyframes down {
  0% {
    bottom: 20px;
    bottom: 30px;
  }

  50% {
    bottom: 25px;
  }

  100% {
    bottom: 30px;
  }
}
/*End Down Button*/