@import "helpers/variables.scss";
@import "componants/buttons.scss";
@import "componants/keyframs.scss";
@import "componants/slider-custum.scss";
/**********/
.about_us-page {
  section {
    margin: 30px 0;
    // padding: 20px 0;
  }

  .home_page-title {
    font-size: 35px;
    color: $mainColor;
  }

  .our_mission-block {
    h3 {
      color: #EC0707;
    }

    h4 {
      color: $secondColor;
    }
  }

  .about_us-img {
    height: 300px;
    width: 100%;

    img {
      max-height: 100%;
      min-height: 300px;
      min-width: 300px;
    }
  }
}

.aboutus_page-block2 {
  color: #fff;

  .home_page-title {
    color: #fff;
  }

  .our_team-container {
    background-color: $secondColor;
    padding: 50px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
  }

  .paragraph_global {
    color: #fff;
  }
}
/*Start Contact with us Content*/
.contactus_section {
  ul {
    li {
      padding: 0 8px;

      a {
        i {
          font-size: 22px;
        }
      }
    }
  }
}
/*End Contact with us Content*/