@import "helpers/variables.scss";
@import "componants/buttons.scss";
@import "componants/slider-custum.scss";
@import "componants/custum-calender.scss";
@import "layout/rating.scss";
@import "layout/custum-calender.scss";
/**********/
/*Start choose Time*/


.choose_visite-time {
    .appointment_content {
        h3{}
        button{
            span{}
            i{}
        }
        .appointment_selected{
            h4{}
            p{
                i{}
                span{}
            }
        }
    }
}