@import "helpers/variables.scss";
@import "componants/buttons.scss";
@import "componants/keyframs.scss";
@import "componants/slider-custum.scss"; /**********/

h3 {
  color: $secondColor;
  line-height: 30px;
  font-size: 22px;
}

h4 {
  font-size: 20px;
  color: $mainColor;
  margin-top: 30px;
}

p {
  line-height: 28px;
  font-size: 16px;
}