@import "helpers/variables.scss";
@import "componants/buttons.scss";
@import "componants/slider-custum.scss"; /**********/
// Start Provider Pages

.provider_page {}
//=01= Start department Slider

.department_slider {
  .container {
    padding: 0 20px;
  }

  .department_block {
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 100%;
    border: 2px solid rgba(212, 212, 212, 0.35);
    cursor: pointer;
    @extend %transition;

    &:hover {
      border: 2px solid $secondColor;
    }

    &.active {
      border: 2px solid $secondColor;
    }

    img {}
  }
}
// =01= End department Slider
// =02= Start Doctor List

.list_doctor {
  .doctor_block {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px;
    overflow: hidden;

    .doctor_img {
      text-align: center;
      position: relative;
      display: inline-block;
      height: 170px;
      width: 100%;
      margin: 2px;

      &:before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        // background-color: $overlay;
        @extend %transition;
      }

      &:hover {
        &:before {
          background-color: $overlay;
        }

        .more_details {
          opacity: 1;
        }
      }

      .more_details {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        @extend %transition;
        color: #fff;
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .doctor_description {
      background: $secondColor;
      padding: 10px 11px;

      .name {
        color: #fff;
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;

        h2 {
          font-size: 14px;
        }

        span {
          font-size: 14px;
        }
      }
    }
  }
}

.rate_content {
  display: flex;
  justify-content: space-between;

  aside {
    &:hover {
      color: #f00;
    }

    img {}

    span {
      color: #fff;
      margin: 0 6px;
    }
  }
}
// =02= End Doctor List
// Start All all-tabs

.all_tabs > div:not(:first-child) {
  display: none;
}