/***Navigation Layout****/
@import "layout/navigation.scss";
@import "layout/navbar.scss"; /***Header Layout****/
@import "layout/header-slider.scss"; /*Home Page*/
@import "page/homepage.scss";
@import "page/provider.scss";
@import "page/profile-doctor.scss";
@import "page/booking-docotr.scss";
@import "page/about-us.scss";
@import "page/privec-page.scss";
@import "page/landing-page.scss";
@import "layout/footer.scss";